@model EnderecoViewModel

<h2>Consulta CEP</h2>

<form asp-action="Salvar" method="post">

    <div>
        <label>Nome</label>
        <input asp-for="Nome" class="form-control" />
    </div>

    <div>
        <label>CEP</label>
        <input asp-for="Cep" id="cep" class="form-control" />
    </div>

    <div>
        <label>Logradouro</label>
        <input asp-for="Logradouro" id="logradouro" class="form-control" />
    </div>

    <div>
        <label>Bairro</label>
        <input asp-for="Bairro" id="bairro" class="form-control" />
    </div>

    <div>
        <label>Cidade</label>
        <input asp-for="Cidade" id="cidade" class="form-control" />
    </div>

    <div>
        <label>UF</label>
        <input asp-for="Uf" id="uf" class="form-control" />
    </div>

    <br>

    <button type="submit" class="btn btn-primary">
        Salvar
    </button>

</form>

@section Scripts {

<script>

$("#cep").blur(function () {

    var cep = $(this).val();

    $.ajax({
        url: "https://viacep.com.br/ws/" + cep + "/json/",
        type: "GET",
        dataType: "json",

        success: function (dados) {

            $("#logradouro").val(dados.logradouro);
            $("#bairro").val(dados.bairro);
            $("#cidade").val(dados.localidade);
            $("#uf").val(dados.uf);

        }
    });

});

</script>

}